# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/
.venv/
backend/.venv/
venv/
env/
**/node_modules
**/.venv
**/venv
**/env

# Build outputs
**/.next
**/build
**/dist
**/out

# IDEs and Tools
**/.vscode
**/.idea
**/.git
**/.gitignore
**/.dockerignore
**/*.log

# Project specific
backend/__pycache__
frontend/.next
tools/
ffmpeg.exe
ffprobe.exe
ffplay.exe
